@page "{*code}"
@model Onibi_Pro.Pages.PasswordModel
@{
}

<link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/x-icon" href="@Url.Content("~/onibi_ico.svg")" />

<div class="container">
    @if (ViewData.ModelState.ContainsKey("alertError") && ViewData.ModelState["alertError"]?.Errors.Count > 0)
    {
        <div id="alert-toast" class="alert alert-danger position-fixed alert-toast">
            @ViewData.ModelState["alertError"]?.Errors[0].ErrorMessage
        </div>
    }
    <div class="d-flex justify-content-center col mt-5">
        <div class="col-12 col-md-9 col-lg-5 d-flex flex-column">
            <form id="passwordForm" method="post" class="col">
                <img class="w-100 mb-5" src="@Url.Content("~/onibi.svg")" alt="Onibi Logo" />
                <div class="row">
                    <label asp-for="Password" class="mb-1"></label>
                    <div class="password-container p-0">
                        <input asp-for="Password" id="passwordInput" placeholder="Password" class="form-control shadow-none" onblur="validateControl(this)" type="password" />
                        <img id="passwordEyeIcon" class="password-eye-ico" src="@Url.Content("~/eye-10.svg")" onclick="togglePasswordFieldsVisibility()" alt="Change visibility" />
                    </div>
                </div>
                <div class="row">
                    <label asp-for="RepeatPassword" class="mb-1">Repeat Password</label>
                    <div class="password-container p-0">
                        <input asp-for="RepeatPassword" id="repeatPasswordInput" placeholder="Repeat Password" class="form-control shadow-none" onblur="validateControl(this)" type="password" />
                        <img id="repeatPasswordEyeIcon" class="password-eye-ico" src="@Url.Content("~/eye-10.svg")" onclick="togglePasswordFieldsVisibility()" alt="Change visibility" />
                    </div>
                </div>
                <div class="col d-flex justify-content-around mt-3">
                    <button class="onibi-button accent" type="button" onclick="clearForm()">
                        Clear
                    </button>
                    <button style="width: 155px;" class="onibi-button primary" type="submit">Set Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('passwordInput');
        const eyeIcon = document.getElementById('passwordEyeIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = '/eye-9.svg'
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = '/eye-10.svg'
        }
    }
    
    function toggleRepeatPasswordVisibility() {
        const passwordInput = document.getElementById('repeatPasswordInput');
        const eyeIcon = document.getElementById('repeatPasswordEyeIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.src = '/eye-9.svg'
        } else {
            passwordInput.type = 'password';
            eyeIcon.src = '/eye-10.svg'
        }
    }

    function togglePasswordFieldsVisibility() {
        togglePasswordVisibility();
        toggleRepeatPasswordVisibility();
    }

    function clearForm() {
        document.getElementById('passwordForm').reset();
    }

    function validateControl(control) {
        const errorBorderClass = 'error-border';

        if (!control.value.trim()) {
            control.classList.add(errorBorderClass);
        } else {
            control.classList.remove(errorBorderClass);
        }
    }

    window.onload = function () {
        if ('@ViewData["MarkInvalidOnLoad"]') {
            const passwordInput = document.getElementById('passwordInput');
            const repeatPasswordInput = document.getElementById('repeatPasswordInput');

            validateControl(repeatPasswordInput);
            validateControl(passwordInput);
        }

        document.title = 'Password :: Onibi Pro';

        showToast();
    }

    function showToast() {
        const alertToast = document.getElementById("alert-toast");

        if (alertToast && alertToast.innerText.trim() !== "") {
            alertToast.style.opacity = 1;
            alertToast.style.transition = "opacity 1s";
            alertToast.style.display = "block";

            setTimeout(function () {
                alertToast.style.opacity = 0;
                setTimeout(function () {
                    alertToast.style.display = "none";
                }, 1000);
            }, 5000);
        }
    }
</script>